<!DOCTYPE html>
<html>
<head>
    {{>head}}
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src='/img/my-face.jpg'>
    </div>

    {{>footer}}
</body>
</html>